<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <div class="container-fluid ms-5">
      <a class="navbar-brand me-5" href="index.html">
        <img src="/img/Algebra-logo.png" alt="Algebra-logo" width="45" height="45">
        </a>
      <button class="navbar-toggler me-5" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item me-5 d-flex align-items-center">
            <img src="/img/navigation/home.png" class="custom-navbar-icon-size" alt="home-page">
            <a class="nav-link fs-4 fw-bold ms-1" href="index.html">Početna</a>
          </li>
          <li class="nav-item me-5 d-flex align-items-center">
            <img src="/img/navigation/about.png" class="custom-navbar-icon-size" alt="about-us-page" width="25" height="25">
            <a class="nav-link fs-4 fw-bold ms-1" href="about.html">O nama</a>
          </li>
          <li class="nav-item me-5 d-flex align-items-center">
            <img src="/img/navigation/news.png" class="custom-navbar-icon-size" alt="news-page">
            <a class="nav-link fs-4 fw-bold ms-1" href="news.html">Novosti</a>
          </li>
          <li class="nav-item me-5 d-flex align-items-center">
            <img src="/img/navigation/curriculum.png" class="custom-navbar-icon-size" alt="curriculum-page">
            <a class="nav-link fs-4 fw-bold ms-1" href="curriculum.html">Nastavni plan</a>
          </li>
          <li class="nav-item d-flex align-items-center">
            <img src="/img/navigation/contact.png" class="custom-navbar-icon-size" alt="contact-form">
            <a class="nav-link fs-4 fw-bold ms-1" href="">Kontakt</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>